<h3>Importing the necessary libraries</h3>

In [4]:
import keras
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv('concrete_data.csv')
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [6]:
df.shape

(1030, 9)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030 entries, 0 to 1029
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Cement              1030 non-null   float64
 1   Blast Furnace Slag  1030 non-null   float64
 2   Fly Ash             1030 non-null   float64
 3   Water               1030 non-null   float64
 4   Superplasticizer    1030 non-null   float64
 5   Coarse Aggregate    1030 non-null   float64
 6   Fine Aggregate      1030 non-null   float64
 7   Age                 1030 non-null   int64
 8   Strength            1030 non-null   float64
dtypes: float64(8), int64(1)
memory usage: 72.5 KB

In [8]:
df.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

<h3>Checking for NULL values in the dataset</h3>

In [9]:
df.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [10]:
df_columns = df.columns
predictors = df[df_columns[df_columns != 'Strength']] 
target = df['Strength']

In [11]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [12]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [13]:

n_cols = predictors.shape[1] # number of predictors
n_cols

8

In [14]:
from keras.models import Sequential
from keras.layers import Dense

In [15]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [18]:
model = regression_model()

In [19]:
model.fit(X_train, y_train, epochs=50, verbose=1)

WARNING:tensorflow:From C:\Users\Revanth Kotha\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/50
721/721 [==============================] - 1s 828us/step - loss: 1436.3907
Epoch 2/50
721/721 [==============================] - 0s 52us/step - loss: 1046.7351
Epoch 3/50
721/721 [==============================] - 0s 33us/step - loss: 786.5566
Epoch 4/50
721/721 [==============================] - 0s 32us/step - loss: 568.8780
Epoch 5/50
721/721 [==============================] - 0s 56us/step - loss: 428.0187
Epoch 6/50
721/721 [==============================] - 0s 72us/step - loss: 341.3629
Epoch 7/50
721/721 [==============================] - 0s 36us/step - loss: 283.9238
Epoch 8/50
721/721 [==============================] - 0s 34us/step - loss: 238.3285
Epoch 9/50
721/721 [==============================] - 0s 40us/step - loss: 205.1150
Epoch 10/50
721/721 [==============================] - 0s 26us/step - loss: 183.0427
Epoch 11/50
721/721 [==============================] - 0s 27us/step - loss: 170.8727
Epoch 12/50
721/721 [==============================] - 0s 27us/step - loss: 156.0155
Epoch 13/50
721/721 [==============================] - 0s 25us/step - loss: 145.7007
Epoch 14/50
721/721 [==============================] - 0s 46us/step - loss: 140.7363
Epoch 15/50
721/721 [==============================] - 0s 40us/step - loss: 134.3706
Epoch 16/50
721/721 [==============================] - 0s 33us/step - loss: 130.7356
Epoch 17/50
721/721 [==============================] - 0s 35us/step - loss: 127.8589
Epoch 18/50
721/721 [==============================] - 0s 68us/step - loss: 123.8938
Epoch 19/50
721/721 [==============================] - 0s 87us/step - loss: 122.1408
Epoch 20/50
721/721 [==============================] - 0s 64us/step - loss: 120.5434
Epoch 21/50
721/721 [==============================] - 0s 92us/step - loss: 120.2341
Epoch 22/50
721/721 [==============================] - 0s 104us/step - loss: 115.2476
Epoch 23/50
721/721 [==============================] - 0s 68us/step - loss: 115.5311
Epoch 24/50
721/721 [==============================] - 0s 68us/step - loss: 116.2125
Epoch 25/50
721/721 [==============================] - 0s 54us/step - loss: 113.5380
Epoch 26/50
721/721 [==============================] - 0s 46us/step - loss: 111.8013
Epoch 27/50
721/721 [==============================] - 0s 32us/step - loss: 110.7315
Epoch 28/50
721/721 [==============================] - 0s 36us/step - loss: 112.7531
Epoch 29/50
721/721 [==============================] - 0s 30us/step - loss: 112.7256
Epoch 30/50
721/721 [==============================] - 0s 38us/step - loss: 109.9373
Epoch 31/50
721/721 [==============================] - 0s 33us/step - loss: 110.2022
Epoch 32/50
721/721 [==============================] - 0s 34us/step - loss: 109.4284
Epoch 33/50
721/721 [==============================] - 0s 33us/step - loss: 109.7818
Epoch 34/50
721/721 [==============================] - 0s 29us/step - loss: 110.0307
Epoch 35/50
721/721 [==============================] - 0s 42us/step - loss: 109.2181
Epoch 36/50
721/721 [==============================] - 0s 50us/step - loss: 108.2674
Epoch 37/50
721/721 [==============================] - 0s 66us/step - loss: 110.0209
Epoch 38/50
721/721 [==============================] - 0s 61us/step - loss: 108.6929
Epoch 39/50
721/721 [==============================] - 0s 66us/step - loss: 109.7549
Epoch 40/50
721/721 [==============================] - 0s 69us/step - loss: 108.0331
Epoch 41/50
721/721 [==============================] - 0s 69us/step - loss: 109.8067
Epoch 42/50
721/721 [==============================] - 0s 83us/step - loss: 109.8597
Epoch 43/50
721/721 [==============================] - 0s 65us/step - loss: 110.6134
Epoch 44/50
721/721 [==============================] - 0s 70us/step - loss: 107.2377
Epoch 45/50
721/721 [==============================] - 0s 65us/step - loss: 108.3339
Epoch 46/50
721/721 [==============================] - 0s 68us/step - loss: 112.8615
Epoch 47/50
721/721 [==============================] - 0s 65us/step - loss: 110.3942
Epoch 48/50
721/721 [==============================] - 0s 70us/step - loss: 110.3842
Epoch 49/50
721/721 [==============================] - 0s 66us/step - loss: 107.3283
Epoch 50/50
721/721 [==============================] - 0s 48us/step - loss: 109.8958

In [20]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 226us/step

108.97121246732941

In [21]:
from sklearn.metrics import mean_squared_error
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

108.97121125051099 0.0

50 epochs

In [22]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 84.06214373937317
MSE 2: 98.06009785179953
MSE 3: 68.13919978465849
MSE 4: 69.90814936122462
MSE 5: 57.22861779469117
MSE 6: 54.55701002102454
MSE 7: 61.9788906257901
MSE 8: 44.19989207493063
MSE 9: 46.706369295089374
MSE 10: 49.724228720063145
MSE 11: 44.264403099381035
MSE 12: 43.76557863105848
MSE 13: 56.39317588435794
MSE 14: 50.63432679901617
MSE 15: 48.27629497984852
MSE 16: 45.64917051444933
MSE 17: 53.41395615759791
MSE 18: 47.29521624247233
MSE 19: 39.358566642193345
MSE 20: 40.89989857843393
MSE 21: 39.17967703118679
MSE 22: 40.64628429474568
MSE 23: 39.863523489449015
MSE 24: 40.82059381231907
MSE 25: 43.468688569794196
MSE 26: 43.22848039151781
MSE 27: 41.893395383766936
MSE 28: 34.052236044676945
MSE 29: 43.40582202553363
MSE 30: 41.74796803792318
MSE 31: 44.65086782017186
MSE 32: 33.425159824704664
MSE 33: 36.19730168561719
MSE 34: 38.76213936666841
MSE 35: 38.49223912803872
MSE 36: 43.666618112607296
MSE 37: 41.65321024181773
MSE 38: 40.9637626722021
MSE 39: 35.12749141705461
MSE 40: 32.98722053577213
MSE 41: 41.3110351315594
MSE 42: 35.872643813346194
MSE 43: 36.55930616014598
MSE 44: 44.596298847383665
MSE 45: 41.471005807030934
MSE 46: 40.61477288304795
MSE 47: 41.85141094911446
MSE 48: 39.011963878248885
MSE 49: 42.46106244676707
MSE 50: 40.15215181764275


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 46.05299030059216
Standard Deviation: 12.149508331716175

<h3>Building the model after normalising the dataset</h3>

In [23]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [24]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [25]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [26]:
model = regression_model()
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
 - 0s - loss: 1592.2342
Epoch 2/50
 - 0s - loss: 1574.1924
Epoch 3/50
 - 0s - loss: 1556.5152
Epoch 4/50
 - 0s - loss: 1538.6441
Epoch 5/50
 - 0s - loss: 1520.8609
Epoch 6/50
 - 0s - loss: 1502.8470
Epoch 7/50
 - 0s - loss: 1483.9883
Epoch 8/50
 - 0s - loss: 1465.0612
Epoch 9/50
 - 0s - loss: 1445.2695
Epoch 10/50
 - 0s - loss: 1424.4107
Epoch 11/50
 - 0s - loss: 1403.4599
Epoch 12/50
 - 0s - loss: 1381.0430
Epoch 13/50
 - 0s - loss: 1358.2439
Epoch 14/50
 - 0s - loss: 1334.4836
Epoch 15/50
 - 0s - loss: 1309.9450
Epoch 16/50
 - 0s - loss: 1284.9493
Epoch 17/50
 - 0s - loss: 1258.7477
Epoch 18/50
 - 0s - loss: 1232.1142
Epoch 19/50
 - 0s - loss: 1203.8268
Epoch 20/50
 - 0s - loss: 1175.9503
Epoch 21/50
 - 0s - loss: 1146.4729
Epoch 22/50
 - 0s - loss: 1116.5707
Epoch 23/50
 - 0s - loss: 1086.1952
Epoch 24/50
 - 0s - loss: 1055.2355
Epoch 25/50
 - 0s - loss: 1023.2229
Epoch 26/50
 - 0s - loss: 991.8754
Epoch 27/50
 - 0s - loss: 959.7647
Epoch 28/50
 - 0s - loss: 928.2809
Epoch 29/50
 - 0s - loss: 896.9151
Epoch 30/50
 - 0s - loss: 865.7948
Epoch 31/50
 - 0s - loss: 834.3811
Epoch 32/50
 - 0s - loss: 803.9273
Epoch 33/50
 - 0s - loss: 774.2736
Epoch 34/50
 - 0s - loss: 745.0845
Epoch 35/50
 - 0s - loss: 716.5981
Epoch 36/50
 - 0s - loss: 688.8106
Epoch 37/50
 - 0s - loss: 661.6405
Epoch 38/50
 - 0s - loss: 636.0691
Epoch 39/50
 - 0s - loss: 610.3889
Epoch 40/50
 - 0s - loss: 586.2320
Epoch 41/50
 - 0s - loss: 562.8061
Epoch 42/50
 - 0s - loss: 540.5110
Epoch 43/50
 - 0s - loss: 519.0545
Epoch 44/50
 - 0s - loss: 498.3540
Epoch 45/50
 - 0s - loss: 478.6481
Epoch 46/50
 - 0s - loss: 459.8157
Epoch 47/50
 - 0s - loss: 441.8926
Epoch 48/50
 - 0s - loss: 424.9234
Epoch 49/50
 - 0s - loss: 408.4091
Epoch 50/50
 - 0s - loss: 393.1806

In [27]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 200us/step

381.9158187915592

In [28]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

381.91581193825994 0.0

In [29]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 150.20886445276946
MSE 2: 130.05798231205122
MSE 3: 93.37046515208618
MSE 4: 83.93988214881675
MSE 5: 70.67965135296572
MSE 6: 62.289232642905226
MSE 7: 56.65916247815376
MSE 8: 43.29570417188132
MSE 9: 43.130203296451505
MSE 10: 43.03177182342628
MSE 11: 42.800806829458686
MSE 12: 42.5512792099641
MSE 13: 48.86624605370185
MSE 14: 46.588894902695344
MSE 15: 42.85708607053294
MSE 16: 37.25464986906083
MSE 17: 41.08017386896325
MSE 18: 39.218393245561224
MSE 19: 41.470113612301525
MSE 20: 39.94169459913927
MSE 21: 37.823539906720896
MSE 22: 39.77224777740182
MSE 23: 37.90844230281497
MSE 24: 38.11176502511725
MSE 25: 39.6996174537634
MSE 26: 40.32916891844913
MSE 27: 36.88134617481417
MSE 28: 34.5912234482256
MSE 29: 43.992549995002626
MSE 30: 40.523822821459724
MSE 31: 37.673418125288386
MSE 32: 36.56493698354678
MSE 33: 38.041384354378415
MSE 34: 40.72842025756836
MSE 35: 39.085738197499495
MSE 36: 44.74958642015179
MSE 37: 38.60649424000465
MSE 38: 42.16254153452259
MSE 39: 38.54774818296957
MSE 40: 34.240193771312924
MSE 41: 41.75475496458776
MSE 42: 36.31128387080813
MSE 43: 37.06849374740255
MSE 44: 41.1982843466947
MSE 45: 44.11536659314795
MSE 46: 41.70629930959164
MSE 47: 38.18153309744925
MSE 48: 38.37419186440872
MSE 49: 39.98353180376071
MSE 50: 42.46732436491833


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 47.60974983926959
Standard Deviation: 22.025072470562716

Using 100 epochs

In [30]:
total_mean_squared_errors = 50
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 39.96546587897736
MSE 2: 41.52986900551805
MSE 3: 34.33814738869281
MSE 4: 34.88994176796725
MSE 5: 36.24212537845747
MSE 6: 38.747260417753054
MSE 7: 43.86649041036958
MSE 8: 31.513764563501844
MSE 9: 36.15790318362535
MSE 10: 32.7829519722454
MSE 11: 36.82145522404643
MSE 12: 34.88581565437193
MSE 13: 39.28004229030177
MSE 14: 38.89865208598017
MSE 15: 36.56157428778491
MSE 16: 29.584182078784337
MSE 17: 35.76810438038848
MSE 18: 34.0985621541835
MSE 19: 36.18850677144566
MSE 20: 35.70868031029563
MSE 21: 33.705241366883314
MSE 22: 33.01416810662229
MSE 23: 30.488148007192272
MSE 24: 34.73659803026317
MSE 25: 35.06283007007587
MSE 26: 38.00431266957502
MSE 27: 31.238651485504842
MSE 28: 32.17293052920246
MSE 29: 38.82749936495784
MSE 30: 35.569158510868604
MSE 31: 32.199532135404816
MSE 32: 32.46910277925263
MSE 33: 32.59941470198647
MSE 34: 35.006557476944906
MSE 35: 36.14667918381182
MSE 36: 40.31846006325534
MSE 37: 31.15196536968441
MSE 38: 35.79693183775473
MSE 39: 33.14120094521532
MSE 40: 30.81991267281443
MSE 41: 37.339425849297285
MSE 42: 31.986513736564365
MSE 43: 33.56179644143312
MSE 44: 37.52913222575265
MSE 45: 38.036851765654234
MSE 46: 37.236677867309176
MSE 47: 32.19349280298721
MSE 48: 36.16639613179327
MSE 49: 34.81614095570586
MSE 50: 38.35481470842578


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 100

Mean: 35.35040014327032
Standard Deviation: 3.0400442408022257

<h3>Building the model with 3 hidden layers and ReLu activation function</h3>

In [31]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [32]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

In [33]:
# build the model
model = regression_model()
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
 - 0s - loss: 1566.3509
Epoch 2/50
 - 0s - loss: 1544.1779
Epoch 3/50
 - 0s - loss: 1507.7575
Epoch 4/50
 - 0s - loss: 1444.5917
Epoch 5/50
 - 0s - loss: 1338.7043
Epoch 6/50
 - 0s - loss: 1173.7223
Epoch 7/50
 - 0s - loss: 951.0528
Epoch 8/50
 - 0s - loss: 691.8840
Epoch 9/50
 - 0s - loss: 470.1082
Epoch 10/50
 - 0s - loss: 353.1914
Epoch 11/50
 - 0s - loss: 290.3154
Epoch 12/50
 - 0s - loss: 260.7960
Epoch 13/50
 - 0s - loss: 240.9687
Epoch 14/50
 - 0s - loss: 227.0787
Epoch 15/50
 - 0s - loss: 216.7540
Epoch 16/50
 - 0s - loss: 207.7775
Epoch 17/50
 - 0s - loss: 198.4321
Epoch 18/50
 - 0s - loss: 190.8372
Epoch 19/50
 - 0s - loss: 184.1534
Epoch 20/50
 - 0s - loss: 178.4716
Epoch 21/50
 - 0s - loss: 173.0895
Epoch 22/50
 - 0s - loss: 168.1671
Epoch 23/50
 - 0s - loss: 163.7028
Epoch 24/50
 - 0s - loss: 159.7150
Epoch 25/50
 - 0s - loss: 155.5209
Epoch 26/50
 - 0s - loss: 152.1302
Epoch 27/50
 - 0s - loss: 148.8529
Epoch 28/50
 - 0s - loss: 145.6484
Epoch 29/50
 - 0s - loss: 143.2192
Epoch 30/50
 - 0s - loss: 140.2091
Epoch 31/50
 - 0s - loss: 137.8026
Epoch 32/50
 - 0s - loss: 135.1546
Epoch 33/50
 - 0s - loss: 132.6615
Epoch 34/50
 - 0s - loss: 130.0434
Epoch 35/50
 - 0s - loss: 127.8670
Epoch 36/50
 - 0s - loss: 125.7703
Epoch 37/50
 - 0s - loss: 123.3052
Epoch 38/50
 - 0s - loss: 121.8044
Epoch 39/50
 - 0s - loss: 119.4841
Epoch 40/50
 - 0s - loss: 117.4576
Epoch 41/50
 - 0s - loss: 115.6423
Epoch 42/50
 - 0s - loss: 114.4390
Epoch 43/50
 - 0s - loss: 112.1428
Epoch 44/50
 - 0s - loss: 110.6762
Epoch 45/50
 - 0s - loss: 108.9423
Epoch 46/50
 - 0s - loss: 107.4108
Epoch 47/50
 - 0s - loss: 105.9018
Epoch 48/50
 - 0s - loss: 104.4632
Epoch 49/50
 - 0s - loss: 102.2530
Epoch 50/50
 - 0s - loss: 100.7535

In [34]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 292us/step

109.49592906371676

In [35]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

109.49593087075665 0.0

In [36]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 57.07249956840836
MSE 2: 52.385020703559555
MSE 3: 38.87071125561366
MSE 4: 37.55323972979796
MSE 5: 34.23459731413708
MSE 6: 36.93138022561675
MSE 7: 37.04488745630752
MSE 8: 30.70816844952531
MSE 9: 31.60711563752307
MSE 10: 29.143707614886335
MSE 11: 27.3502913231217
MSE 12: 25.466091686853698
MSE 13: 28.721957266909406
MSE 14: 31.26394394069042
MSE 15: 23.77796821841144
MSE 16: 20.76342667267932
MSE 17: 25.616844158728146
MSE 18: 24.953573665186813
MSE 19: 21.55729093829405
MSE 20: 27.186430397157146
MSE 21: 22.08886244690534
MSE 22: 22.809471309377923
MSE 23: 20.514018987760576
MSE 24: 22.28828274007754
MSE 25: 25.83100831855848
MSE 26: 23.00790057753282
MSE 27: 21.996240047960992
MSE 28: 22.38540871629437
MSE 29: 24.858592752499874
MSE 30: 21.687312487259653
MSE 31: 19.702959937185145
MSE 32: 20.592105859305867
MSE 33: 17.913489477534124
MSE 34: 21.930877321360565
MSE 35: 24.891305201261947
MSE 36: 25.443571217237555
MSE 37: 16.780868639837962
MSE 38: 22.12740138279196
MSE 39: 21.201785979533273
MSE 40: 19.374807678765848
MSE 41: 21.037401619080974
MSE 42: 19.031824463779486
MSE 43: 20.422713384659158
MSE 44: 22.764780476641114
MSE 45: 23.022720781344812
MSE 46: 20.8015918176151
MSE 47: 19.293865327310407
MSE 48: 19.611242954785
MSE 49: 19.44351498131613
MSE 50: 19.421318097407763


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 25.68972753437887
Standard Deviation: 7.987567871805464